<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
                $('#log').text('Client Connected');
            });

            socket.on('disconnect', function() {
                $('#log').text('Client Disconnected');
            });

            var tmp = 0
            socket.on('my camera', function(msg){
                tmp = tmp + msg.data
                $('#cam').text('Received cam: ' + tmp + ' routing key: ' + msg.routing);
            });

            socket.on('my response', function(msg) {
                switch(msg.routing) {
                  case 'decibel_one':
                    $('#rec').text('Received1: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_two':
                    $('#rec2').text('Received2: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_three':
                    $('#rec3').text('Received3: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_four':
                    $('#rec4').text('Received4: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_five':
                    $('#rec5').text('Received5: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_six':
                    $('#rec6').text('Received6: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_seven':
                    $('#rec7').text('Received7: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_eight':
                    $('#rec8').text('Received8: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                  case 'decibel_nine':
                    $('#rec9').text('Received9: ' + msg.data + ' routing key: ' + msg.routing);
                    break;
                }
                console.log("response:" + msg.data + msg.routing);
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
    <div><p id="rec">Records</p></div>
    <div><p id="rec2">Records</p></div>
    <div><p id="rec3">Records</p></div>
    <div><p id="rec4">Records</p></div>
    <div><p id="rec5">Records</p></div>
    <div><p id="rec6">Records</p></div>
    <div><p id="rec7">Records</p></div>
    <div><p id="rec8">Records</p></div>
    <div><p id="rec9">Records</p></div>
    <div><p id="cam">Cam</p></div>
</body>
</html>