<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
        
            // socketio starts here 
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('disconnect', function() {
                $('#log').append('<br>Disconnected');
            });
            socket.on('my response1', function(msg1) {
                $('#log').append('<br>Received: ' + msg1.data);
                x = msg1.data;
            });
            socket.on('my response2', function(msg2) {
                $('#log').append('<br>Received2: ' + msg2.data);
                y = msg2.data
            });
            // socketio ends here
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
</body>
</html>