<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Swinburne Library Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <!-- <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            // socketio starts here 
            // namespace = '/test';
            // var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            // socket.on('connect', function() {
            //     socket.emit('my event', {data: 'I\'m connected!'});
            //     $('#log').text('Client Connected');
            // });
            // socket.on('disconnect', function() {
            //     $('#log').text('Client Disconnected');
            // });
            
            // socketio ends here

            
        });
    </script> -->
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 mr-0" href="#">
            Swinburne Library Monitoring System
        </a>

<!--
        <a class="navbar-brand col-sm-1 mr-0" target="_blank" href="checkhistory.html">
            Check History
        </a>
-->
    </nav>

    <p>


    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- Title icon card-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Overview</li>
            </ol>
			
			<!-- CAMERA DATA HERE -->
            <div class="text-center"><h1>Number of Students</h1><br><h1 id="cam"></h1></div>

            <!-- Icon Cards-->
            <div class="row">
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 1
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-1-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-1"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-1-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-1"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 2
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-2-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-2"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-2-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-2"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 3
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-3-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-3"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-3-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-3"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 4
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-4-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-4"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-4-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-4"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 5
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-5-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-5"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-5-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-5"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 6
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-6-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-6"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-6-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-6"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 7
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-7-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-7"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-7-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-7"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 8
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-8-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-8"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-8-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-8"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-header font-weight-bold text-center">
                    <div class="mr-5">
                      Pi 9
                    </div>
                  </div>
                  <div class="card-body small text-center">
                    <div class="mr-5">
                        Current Decibel:<span id="pi-9-data"></span>
                    </div>
                  </div>
                  <div class="card-footer small">
                    <div class="row">
                      <div class="col">
                        Highest:<span id="highest-9"></span>
                      </div>
                      <div class="col">
                        Status:<span id="pi-9-status"></span>
                      </div>
                      <div class="col">
                        Lowest:<span id="lowest-9"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!--Chart parts-->
            <div class="card mb-3">
                <div class="card-header">
                    <h1 id="date" class="h3"></h1>
                </div>
                <div class="card-body">
                    <div id="chart">
                    </div>
                </div>
            </div>
        </div>
    </div>  

    
   
    
    <script>
        var n =  new Date();
        var y = n.getFullYear();
        var m = n.getMonth();
        var d = n.getDate();
        var c = n.getDay();
        
        const HIGH = "High";
        const MEDIUM = "Medium";
        const LOW = "Low";

        const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];

        if(c==0)
        {
          c=6;
        }
        document.getElementById("date").innerHTML = days[c-1] + " " + d + "-" + months[m] + "-" + y;
        
        namespace ='/test';
        var number = 0;
        
        //create plotly line
        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 1',
            type:'line'
        }]);
        
        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 2',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 3',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 4',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 5',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 6',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 7',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 8',
            type:'line' 
        }]);

        Plotly.plot('chart',[{
            x:[new Date()],
            y:[number],
            name:'Pi 9',
            type:'line' 
        }]);


        var previous = 0;
        var temporary = 0;
        var previous1=0;
        var temporary1 =0;

        var previous2 = 0;
        var temporary2 = 0;
        var previous3=0;
        var temporary3 =0;

        var previous4 = 0;
        var temporary4 = 0;
        var previous5=0;
        var temporary5 =0;

        var previous6 = 0;
        var temporary6 = 0;
        var previous7=0;
        var temporary7 =0;

        var previous8 = 0;
        var temporary8 = 0;
        var previous9=0;
        var temporary9 =0;

        var previous10= 0;
        var temporary10 = 0;
        var previous11=0;
        var temporary11 =0;

        var previous12 = 0;
        var temporary12 = 0;
        var previous13=0;
        var temporary13 =0;

        var previous14 = 0;
        var temporary14 = 0;
        var previous15=0;
        var temporary15 =0;

        var previous16 = 0;
        var temporary16 = 0;
        var previous17=0;
        var temporary17 =0;

        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        // START OF CAMERA SOCKET & FUNCTIONS
        var tmp = 0
        socket.on('my camera', function(msg){
            tmp = tmp + msg.data
            $('#cam').text(Math.abs(tmp));
        });
        // END OF CAMERA SOCKET & FUNCTIONS  
        socket.on('my response', function(msg) {
            switch(msg.routing) {
              case 'decibel_one':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[0]);

                document.getElementById("pi-1-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-1-status").innerHTML = HIGH;
                    document.getElementById("pi-1-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-1-status").innerHTML = LOW;
                    document.getElementById("pi-1-status").style.color="#228B22";
                }
                previous = msg.data;
                previous1 = msg.data;

                if(temporary == 0){
                  temporary = previous;
                  document.getElementById("highest-1").innerHTML = parseFloat(Math.round(temporary * 100) / 100).toFixed(2);
        
                }else if(previous > temporary){
                  temporary = previous;
                  document.getElementById("highest-1").innerHTML = parseFloat(Math.round(temporary * 100) / 100).toFixed(2);
                }      

                 if(temporary1 == 0){
                  temporary1 = previous1;
                  document.getElementById("lowest-1").innerHTML = parseFloat(Math.round(temporary1 * 100) / 100).toFixed(2);
                
                }else if(previous1 < temporary1){
                  temporary1 = previous1;
                  document.getElementById("lowest-1").innerHTML = parseFloat(Math.round(temporary1 * 100) / 100).toFixed(2);
                } 
                break;

              case 'decibel_two':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[1]);

                document.getElementById("pi-2-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-2-status").innerHTML = HIGH;
                    document.getElementById("pi-2-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-2-status").innerHTML = LOW;
                    document.getElementById("pi-2-status").style.color="#228B22";
                }

                previous2 = msg.data;
                previous3 = msg.data;

                if(temporary2 == 0){
                  temporary2 = previous2;
                  document.getElementById("highest-2").innerHTML = parseFloat(Math.round(temporary2 * 100) / 100).toFixed(2);
        
                }else if(previous2 > temporary2){
                  temporary2 = previous2;
                  document.getElementById("highest-2").innerHTML = parseFloat(Math.round(temporary2 * 100) / 100).toFixed(2);
                }      

                 if(temporary3 == 0){
                  temporary3 = previous3;
                  document.getElementById("lowest-2").innerHTML = parseFloat(Math.round(temporary3 * 100) / 100).toFixed(2);
                
                }else if(previous3 < temporary3){
                  temporary3 = previous3;
                  document.getElementById("lowest-2").innerHTML = parseFloat(Math.round(temporary3 * 100) / 100).toFixed(2);
                } 
          

                break;

              case 'decibel_three':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[2]);

                document.getElementById("pi-3-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-3-status").innerHTML = HIGH;
                    document.getElementById("pi-3-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-3-status").innerHTML = LOW;
                    document.getElementById("pi-3-status").style.color="#228B22";
                }      

                previous4 = msg.data;
                previous5 = msg.data;

                if(temporary4 == 0){
                  temporary4 = previous4;
                  document.getElementById("highest-3").innerHTML = parseFloat(Math.round(temporary4 * 100) / 100).toFixed(2);
        
                }else if(previous4 > temporary4){
                  temporary4 = previous4;
                  document.getElementById("highest-3").innerHTML = parseFloat(Math.round(temporary4 * 100) / 100).toFixed(2);
                }      

                 if(temporary5 == 0){
                  temporary5 = previous5;
                  document.getElementById("lowest-3").innerHTML = parseFloat(Math.round(temporary5 * 100) / 100).toFixed(2);
                
                }else if(previous5 < temporary5){
                  temporary5 = previous5;
                  document.getElementById("lowest-3").innerHTML = parseFloat(Math.round(temporary5 * 100) / 100).toFixed(2);
                } 
               
          
                break;
              case 'decibel_four':
                Plotly.extendTraces('chart',{
                      x:[[new Date()]],
                      y:[[msg.data]],
                  },[3]);

                  document.getElementById("pi-4-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                  if(msg.data >= 30){
                      document.getElementById("pi-4-status").innerHTML = HIGH;
                      document.getElementById("pi-4-status").style.color="#ff0000";
                      // alert("fkcing noisy");
                      // return false;
                  }else{
                      document.getElementById("pi-4-status").innerHTML = LOW;
                      document.getElementById("pi-4-status").style.color="#228B22";
                  }

                previous6 = msg.data;
                previous7 = msg.data;

                if(temporary6 == 0){
                  temporary6 = previous6;
                  document.getElementById("highest-4").innerHTML = parseFloat(Math.round(temporary6 * 100) / 100).toFixed(2);
        
                }else if(previous6 > temporary6){
                  temporary6 = previous6;
                  document.getElementById("highest-4").innerHTML = parseFloat(Math.round(temporary6 * 100) / 100).toFixed(2);
                }      

                 if(temporary7 == 0){
                  temporary7 = previous7;
                  document.getElementById("lowest-4").innerHTML = parseFloat(Math.round(temporary7 * 100) / 100).toFixed(2);
                
                }else if(previous7 < temporary7){
                  temporary7 = previous7;
                  document.getElementById("lowest-4").innerHTML = parseFloat(Math.round(temporary7 * 100) / 100).toFixed(2);
                } 
           

                break;
              case 'decibel_five':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[4]);

                document.getElementById("pi-5-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-5-status").innerHTML = HIGH;
                    document.getElementById("pi-5-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-5-status").innerHTML = LOW;
                    document.getElementById("pi-5-status").style.color="#228B22";
                }

                previous8 = msg.data;
                previous9 = msg.data;

                if(temporary8 == 0){
                  temporary8 = previous8;
                  document.getElementById("highest-5").innerHTML = parseFloat(Math.round(temporary8 * 100) / 100).toFixed(2);
        
                }else if(previous8 > temporary8){
                  temporary8 = previous8;
                  document.getElementById("highest-5").innerHTML = parseFloat(Math.round(temporary8 * 100) / 100).toFixed(2);
                }      

                 if(temporary9 == 0){
                  temporary9 = previous9;
                  document.getElementById("lowest-5").innerHTML = parseFloat(Math.round(temporary9 * 100) / 100).toFixed(2);
                
                }else if(previous9 < temporary9){
                  temporary9 = previous9;
                  document.getElementById("lowest-5").innerHTML = parseFloat(Math.round(temporary9 * 100) / 100).toFixed(2);
                } 
              

                break;
              case 'decibel_six':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[5]);

                document.getElementById("pi-6-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-6-status").innerHTML = HIGH;
                    document.getElementById("pi-6-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-6-status").innerHTML = LOW;
                    document.getElementById("pi-6-status").style.color="#228B22";
                }

                previous10 = msg.data;
                previous11 = msg.data;

                if(temporary10 == 0){
                  temporary10 = previous10;
                  document.getElementById("highest-6").innerHTML = parseFloat(Math.round(temporary10 * 100) / 100).toFixed(2);
        
                }else if(previous10 > temporary10){
                  temporary10 = previous10;
                  document.getElementById("highest-6").innerHTML = parseFloat(Math.round(temporary10 * 100) / 100).toFixed(2);
                }      

                 if(temporary11 == 0){
                  temporary11 = previous11;
                  document.getElementById("lowest-6").innerHTML = parseFloat(Math.round(temporary11 * 100) / 100).toFixed(2);
                
                }else if(previous11 < temporary11){
                  temporary11 = previous11;
                  document.getElementById("lowest-6").innerHTML = parseFloat(Math.round(temporary11 * 100) / 100).toFixed(2);
                } 
          
                break;

              case 'decibel_seven':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[6]);

                document.getElementById("pi-7-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-7-status").innerHTML = HIGH;
                    document.getElementById("pi-7-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-7-status").innerHTML = LOW;
                    document.getElementById("pi-7-status").style.color="#228B22";
                }
                previous12 = msg.data;
                previous13 = msg.data;

                if(temporary12 == 0){
                  temporary12 = previous12;
                  document.getElementById("highest-7").innerHTML = parseFloat(Math.round(temporary12 * 100) / 100).toFixed(2);
        
                }else if(previous12 > temporary12){
                  temporary12 = previous12;
                  document.getElementById("highest-7").innerHTML = parseFloat(Math.round(temporary12 * 100) / 100).toFixed(2);
                }      

                 if(temporary13 == 0){
                  temporary13 = previous13;
                  document.getElementById("lowest-7").innerHTML = parseFloat(Math.round(temporary13 * 100) / 100).toFixed(2);
                
                }else if(previous13 < temporary13){
                  temporary13 = previous13;
                  document.getElementById("lowest-7").innerHTML = parseFloat(Math.round(temporary13 * 100) / 100).toFixed(2);
                } 
                

                break;
              case 'decibel_eight':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[7]);

                document.getElementById("pi-8-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-8-status").innerHTML = HIGH;
                    document.getElementById("pi-8-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-8-status").innerHTML = LOW;
                    document.getElementById("pi-8-status").style.color="#228B22";
                }

                previous14 = msg.data;
                previous15 = msg.data;

                if(temporary14 == 0){
                  temporary14 = previous14;
                  document.getElementById("highest-8").innerHTML = parseFloat(Math.round(temporary14 * 100) / 100).toFixed(2);
        
                }else if(previous14 > temporary14){
                  temporary14 = previous14;
                  document.getElementById("highest-8").innerHTML = parseFloat(Math.round(temporary14 * 100) / 100).toFixed(2);
                }      

                 if(temporary15 == 0){
                  temporary15 = previous15;
                  document.getElementById("lowest-8").innerHTML = parseFloat(Math.round(temporary15 * 100) / 100).toFixed(2);
                
                }else if(previous15 < temporary15){
                  temporary15 = previous15;
                  document.getElementById("lowest-8").innerHTML = parseFloat(Math.round(temporary15 * 100) / 100).toFixed(2);
                } 
               

                break;
              case 'decibel_nine':
                Plotly.extendTraces('chart',{
                    x:[[new Date()]],
                    y:[[msg.data]],
                },[8]);

                document.getElementById("pi-9-data").innerHTML = parseFloat(Math.round(msg.data * 100) / 100).toFixed(2);

                if(msg.data >= 30){
                    document.getElementById("pi-9-status").innerHTML = HIGH;
                    document.getElementById("pi-9-status").style.color="#ff0000";
                    // alert("fkcing noisy");
                    // return false;
                }else{
                    document.getElementById("pi-9-status").innerHTML = LOW;
                    document.getElementById("pi-9-status").style.color="#228B22";
                }

                previous16 = msg.data;
                previous17 = msg.data;

                if(temporary16 == 0){
                  temporary16 = previous16;
                  document.getElementById("highest-9").innerHTML = parseFloat(Math.round(temporary16 * 100) / 100).toFixed(2);
        
                }else if(previous16 > temporary16){
                  temporary16 = previous16;
                  document.getElementById("highest-9").innerHTML = parseFloat(Math.round(temporary16 * 100) / 100).toFixed(2);
                }      

                 if(temporary17 == 0){
                  temporary17 = previous17;
                  document.getElementById("lowest-9").innerHTML = parseFloat(Math.round(temporary17 * 100) / 100).toFixed(2);
                
                }else if(previous17 < temporary17){
                  temporary17 = previous17;
                  document.getElementById("lowest-9").innerHTML = parseFloat(Math.round(temporary17 * 100) / 100).toFixed(2);
                } 
                break;

               
            }
        });  

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--     <div><p id="log" class="ml-5"></p></div>
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
    <div><p id="rec"></p></div>
    <div><p id="rec2"></p></div>
    <div><p id="rec3"></p></div>
    <div><p id="rec4"></p></div>
    <div><p id="rec5"></p></div>
    <div><p id="rec6"></p></div>
    <div><p id="rec7"></p></div>
    <div><p id="rec8"></p></div>
    <div><p id="rec9"></p></div> -->
</body>
</html>
